.vs
x64
dantto4k_dev.sln
dantto4k.vcxproj.user
dantto4k_dll.vcxproj.user
dantto4k_dev.vcxproj
dantto4k_dll_dev.vcxproj
dantto4k_dev.vcxproj.user
dantto4k_dll_dev.vcxproj.user
dantto4k_dev.vcxproj.filters
dantto4k_dll_dev.vcxproj.filters