name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y make g++ libpcsclite-dev pkgconf
    - name: Install tsduck
      run: |
        cd thirdparty/tsduck
        scripts/install-prerequisites.sh
        make -j10
        sudo make install
    - name: make
      run: make